.front-page-section {
    /*margin-bottom: 100px;*/
    padding-top: 50px;
    overflow-x: hidden;
}
.front-page span {
    font-size: 54px;
    color: #BD2025;
}
.center-section {
    padding-left: 20%;
    padding-right: 20%;
}
.paragraph-side {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 50px;
}
.paragraph-center {
    text-align: left;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 50px;
}
.top-icon {
    margin-bottom: 25px;
    text-align: center;
    font-size: 60px;
}
#header .top-header .header-navigation ul li a:hover {
    color: #BD2025;
}
#static-page-content {
    overflow-x: hidden;
    padding-top: 0 !important;
    padding-bottom: 0;
    margin-bottom: 0;
}
#header .top-header .header-navigation {
    float: left !important;
}
.front-page-section .section-header h3 {
    color: #BD2025;
    text-align: center;
}
.red-section h3 {
    color: white !important;
}
.red-section {
    background-color: #BD2025 !important;
    color: white !important;
}
.red-section a {
    color: white !important;
}
.red-section span {
    color: white !important;
}
.red-section .list-group-item {
    background-color: transparent;
}
.red-section > a:hover {
    color: white;
}
blockquote {
    font-size: 18px;
}
body {
    font-size: 18px;
}
.custom-btn {
    width: auto;
    height: 63px;
    line-height: 63px;
    background: #BD2025;
    margin: 0 15px;
    padding: 0 70px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.custom-btn:hover {
    background: #8B1F24;
    color: white;
}
.top-icon img {
    display: block;
    margin: auto;
}